/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/ReadMoreTS/ReadMore.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.ReadMore_blogcontainer__P1chd{
    font-size: 18px;
    padding-bottom: 5vh;
    background-color: rgb(195,219,197);
}
.ReadMore_piconreadpage__dwNwi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* width: 500px; */
    /* width: 200px; */
}
#ReadMore_pic__imykv{
    height: 60vh;
    width: 70vw;
}
#ReadMore_mainh1__Cy1d3{
    /* text-align: center; */
    padding-left: 3vw;
    font-size: 40px;
    font-weight: 400;
    /* text-decoration: underline; */
}

.ReadMore_textpartblog__8EOYe p{
    line-height: 30px;
    margin-top: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    
}
.ReadMore_textpartblog__8EOYe h2{
    font-size: 30px;
    font-weight: 450;
    margin-left: 3vw;
    margin-top: 2.6vh;
    text-decoration: underline;
}
.ReadMore_textpartblog__8EOYe h1{
    /* text-align: center; */
    padding-left: 3vw;
    font-size: 40px;
    text-decoration: underline;
}
.ReadMore_KeyFeatType__0Id41{
    line-height: 4vh;
    list-style:decimal;
    padding-top: 3vh;
    padding-left: 3vw;
}
.ReadMore_whychoosetyp__ebLZo{
    line-height: 4vh;
    font-size: 15px;
    list-style: none;
    padding-top: 3vh;
    padding-left:3vw ;
}
#ReadMore_choosetyp__H31N_{
    font-size:18px;

}
