.phythoncontent{
    
    font-size: 2.5vh;
    background-color: rgb(195,219,197);
}
.phycontentpic{
    display: flex;
    justify-content: center;
}

#pic{
    margin-top: 10vh;
    height: 35vh;
    width: 40vw;
}
.blogcontent{
    margin-left: 2vw;
}
.blogcontent h1{
    font-size: 6.5vh;
    font-weight: 600;
}


.blogcontent h2 {
    margin-top: 2vh;
    font-size: 4vh;
    font-weight: 400;
}
.blogcontent h3{
    margin-top: 2vh;
    font-size: 3vh;
    font-weight: 400;
}